*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

:root{
    --primary: rgba(20, 25, 34, 1);
    --secondry:rgba(117, 119, 124, 1);
    --secondary-soft: rgba(163, 163, 163, 1);
    --darker: rgba(20, 25, 34, 1);
    --dark: rgba(8, 11, 18, 1);
    --light: rgba(255, 255, 255, 1);
}



h2, h4, h5{
    color: var(--light);
    padding: 0.5rem 0;
}

h6{
    color: var(--secondary-soft);
}
.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    
}

img{
    max-width: 100%;
}
 .container{
    height: 100%;
 }

.col_2{
    width: calc(100% / 12 * 2);
}
.col_10{
    width: calc(100% / 12 * 10);
    
}

#site_main{
    height: calc(100vh - 80px);
    overflow: hidden;
}
 .p{
    height: 100%;
 }
 .he{
    height: 100%;
 }
.menu{
    background-color: var(--dark);
    padding: 0.75rem;
    height: calc(100vh - 80px);
    
}

.menu img{
    width: 80%;
    
}
.home_menu img{
    width: 10%;
}
.home_menu{
    padding-top: 1rem;
}
.home_menu a, li{
    list-style-type: none;
    text-decoration: none;
    color: var(--secondry);
    padding-top: 0.5rem;
}

.playlist a, li{
    list-style-type: none;
    text-decoration: none;
    color: var(--secondry);
    
    margin-top: 0.5rem;
}
.square{
    background-color: var(--secondary-soft);
    display: inline;
    padding:1rem;
    
}


.profile i{
    color: var(--secondary-soft);
}
.profile h4{
    display: inline;
}
.profile img{
    width: 5%;
}

.upgrade{
    padding-top: 1.5rem;
    background-color: var(--primary);
    height: 80px;
    text-align: end;
    
}

.button{
   
   text-decoration: none;
   border: 2px solid var(--light);
   padding: 0.75rem 2.5rem;
   color: var(--light);
   
   border-radius: 2rem;
   
}

.music_play{
    background-color: var(--darker);
    height: 80px; 
    display:flex;
    
}
.album_details, .audio{
    flex-grow: 1;
    
}

.controls{
    flex-grow: 4;
}

.played{
    background-color: var(--dark);
    height:calc(100% - 80px);
    overflow-y:scroll;
}

.nav{
     text-align: center;
     width: 60%;
     height: 5%;
     margin: 0 auto;
     padding-top: 0.5rem;
}

.nav li{
    display: inline;
    padding-left: 0.5rem;
}

.nav a{
    text-decoration: none;
    list-style-type: none;
    color: var(--secondary-soft);
}

.title{
    color: var(--light);
    padding: 1.25rem;
    font-size: 1.25rem;
}

.card{
    width: 70%;
    margin-left: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.card img{
    width: 100%;
}

.circle img{
    border-radius: 50%;
}

.album_details{
    display: flex;
}
.album_details img{
    width: 17,5%;
    padding: 0.5rem 0.5rem;
    
   
}

.title_mini h5{
    margin-top: 0.75rem;
}
.title_mini h6{
    margin-top: -0.5rem;
}
.icon i{
    display: block;
    margin: 1rem;
    margin-bottom: -0.5rem;
    color: var(--secondary-soft);
}

.controls{
    margin-left: 1.5rem;
    font-size: 1.5rem; 
    text-align: center;
    color: var(--light);
    padding:0.5rem;
}

.controls i{
    margin-left: 1.5rem;
    font-size: 1.5rem; 
}

.time{
    
    background-color: var(--secondary-soft);
    height: 5%;
    width: 50%;
    margin:1rem auto;
    border-radius: 1rem;
}

.time_two{
    height: 100%;
    width: 20%;
    background-color: var(--light);
    border-radius: 1rem;
}
.audio{
    display: flex;
}
.audio i{
    margin: 1.5rem 1rem;
    font-size: 1.25rem; 
    text-align: center;
    color: var(--light);
}

.volume{
    background-color: var(--secondary-soft);
    height: 5%;
    width: 40%;
    display: inline;
    margin: 2rem 1rem;
    border-radius: 1rem;
}

.max_vol{
    height: 100%;
    width: 20%;
    background-color: var(--light);
    border-radius: 1rem;
}