*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

:root{
    --primary: rgba(20, 25, 34, 1);
    --secondry:rgba(117, 119, 124, 1);
    --secondary-soft: rgba(163, 163, 163, 1);
    --darker: rgba(20, 25, 34, 1);
    --dark: rgba(8, 11, 18, 1);
    --light: rgba(255, 255, 255, 1);
}



h2, h5{
    color: var(--light);
}

h6{
    color: var(--secondary-soft);
}
.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    
}

img{
    max-width: 100%;
}

.container{
    position: relative;
    height: 100%;
  
}

.col_2{
    width: calc(100% / 12 * 2);
}
.col_10{
    width: calc(100% / 12 * 10);
    
}

#site_main{
    height: calc(100vh - 100px);
}

.menu{
    background-color: var(--dark);
    padding: 1rem;
    height: calc(100vh - 100px);
}

.menu img{
    width: 80%;
    
}
.home_menu{
    padding-top: 1rem;
}
.home_menu a, li{
    list-style-type: none;
    text-decoration: none;
    color: var(--secondry);
    padding-top: 0.5rem;
}

.playlist a, li{
    list-style-type: none;
    text-decoration: none;
    color: var(--secondry);
    padding-top: 0.5rem;
}

.upgrade{
    background-color: var(--primary);
    height: 100px;
    margin-left: -1.8rem;
}

.music_play{
    background-color: var(--darker);
    height: 100px;  
    
}

.played{
    background-color: var(--dark);
    height:calc(100% - 100px);
    overflow-y:scroll;
}

.nav{
     width: 60%;
     height: 5%;
     background-color: grey;
     margin: 0 auto;
}

.title{
    color: var(--light);
    padding: 1.25rem;
    font-size: 1.25rem;
}

.card{
    width: 80%;
    margin-left: 1rem;
    text-align: center;
    
}

.card img{
    width: 100%;
}